/* Footer.css */
footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 1rem;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

footer p {
  margin: 0;
  font-size: 0.9rem;
}

footer a {
  color: #e08236; /* This is the color used in the Sidebar gradient */
  text-decoration: none;
  transition: color 0.3s ease;
}

footer a:hover {
  color: #ffffff;
  text-decoration: underline;
}
